
<header>    
    <mat-toolbar color="primary" class="navbar">
        <div matRipple>
            <a href="#" routerLink="/">Home</a>
        </div>
        <div class="search-id">
            <mat-form-field class="mat-form-field">
                <mat-label><mat-icon>search</mat-icon> Search </mat-label>
                <input matInput type="text" name="search" [(ngModel)]="searchId" autocomplete="off">
                <button mat-button *ngIf="searchId" matSuffix mat-icon-button aria-label="Clear" (click)="searchId=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
        </div>
    </mat-toolbar>
</header>  

<h1>Users</h1>

<div class="users-div">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

    <mat-grid-list *ngIf="users" cols="3" rowHeight="1:1.3" gutterSize="5px">
        <ng-container>
            <mat-grid-tile *ngFor="let user of users | filter: searchId">
                <mat-card matRipple routerLink="/details/{{user.id}}">
                    <mat-card-content>
                        <img src="{{user.avatar}}" alt="img">
                        <br>
                        <p class="name"><span>{{ user.id }}</span> {{user.first_name}} {{user.last_name}}</p>
                        <br>
                        <p class="email">{{ user.email }}</p>
                    </mat-card-content>
                  </mat-card>
            </mat-grid-tile>
    </ng-container>
    </mat-grid-list>
    <mat-paginator 
    [pageSize]="pageSize"
    [length]="totalSize"
    [pageIndex]="currentPage" 
    (page)="pageEvent = getServerData($event)">
    </mat-paginator>
</div>